<div class="flex grow flex-col items-center justify-center bg-zinc-950 p-8">

    <div class="grid gap-2" [style.grid-template-columns]="'repeat(' + cols() + ', min-content)'">
        @for (rowIdx of rowsArray(); track rowIdx) {
        @for (colIdx of colsArray(); track colIdx) {
        <app-flap [target]="getCharForPosition(rowIdx, colIdx)" [delay]="calculateDelay(rowIdx, colIdx)" />
        }
        }
    </div>

    <div class="mt-12 text-zinc-700 text-xs tracking-widest uppercase">
        {{ rows() }}x{{ cols() }} Split Flap Display
    </div>
</div>