@import "tailwindcss";

html, body {
  background-color: #09090b; /* tailwind zinc-950 */
  height: 100%;
  margin: 0;
  overflow: hidden; /* prevents scroll-bounce */
}

button {
  touch-action: manipulation; /* no double-tap to zoom on mobile */
}

textarea {
  font-size: 16px !important;
}
